meta(name="viewport" content="width=device-width initial-scale=1 user-scalable=no")
meta(name="Keywords", content="卡孚莱,波箱,变速箱,汽车维修,变速箱维修,波箱维修")
meta(name="description", content="卡孚莱")
link(href="/style/reset.css", rel="stylesheet")
link(href="/style/main.css", rel="stylesheet")
link(href="/libs/font-awesome-4.7.0/css/font-awesome.min.css", rel="stylesheet")