div.side-container
	div.side-box
		h3.side-title 联系我们
		ul.side-content
			li
				span.title 公司地址：
				span.info #{side.address}
			li
				span.title 公司座机：
				span.info #{side.tel}
			li
				span.title 技术咨询：
				span.info #{side.tech}
			li
				span.title 业务咨询：
				span.info #{side.business}